/CARS/nbproject/private/
/CARS/CARS-ejb/nbproject/private/
/CARS/CARSLibrary/nbproject/private/
/CARS/CARS-ejb/build/
/CARS/CARSLibrary/build/
/CARS/build/
/CARS/CARSLibrary/dist/
/CARS/CARS-ejb/dist/
/CARS/dist/
/CARS/ClinicAdminTerminal/build/
/CARS/ClinicAdminTerminal/dist/
/CARS/ClinicAdminTerminal/nbproject/private/
/CARS/SelfServiceKiosk/nbproject/private/
/CARS/SelfServiceKiosk/build/
/CARS/SelfServiceKiosk/dist/
/CARS/AMSClient/nbproject/private/
/CARS/AMSClient/build/
/AMSClient/build/
/AMSClient/nbproject/private/
/AMSClient/dist/
/CARS/DummyClient/nbproject/private/
/CARS/DummyClient/build/
/CARS/DummyClient/dist/
/JavaApplication3/nbproject/private/
/JavaApplication3/build/
/JavaApplication3/dist/